<div class="upload-container">
  <h1>Upload your favorite Images to s3</h1>
  <div class="drop-zone"
       (dragover)="onDragOver($event)"
       (dragleave)="onDragLeave($event)"
       (drop)="onDrop($event)">
    <p>Drag & drop your images here or</p>
    <label for="file-input" class="upload-btn">Browse Images</label>
    <input type="file" id="file-input" class="file-input" accept="image/*" multiple
           (change)="onFileSelected($event)">
  </div>
  <div class="preview-container">
    @for (image of images(); track $index) {
      <div  class="image-wrapper">
      <img [src]="image.url" class="preview-image" alt="Image Preview">
      <button class="remove-btn" (click)="removeImage($index)" title="Remove Image">×</button>
      </div>
    }
  </div>
  @if (images().length) {
    <button [disabled]="isUploading()" class="upload-btn" style="background: gold; margin-top: 2rem; display: flex; align-items: center; gap: 0.4rem; margin-inline: auto" (click)="uploadToS3()">
      <span>Upload to S3</span>
      @if (isUploading()) {
<div class="spinner"></div>
      }
    </button>
  }
</div>
